.header {
    max-width: 960px;
    margin: 2rem auto 1rem;
    color: #c89f65;
    padding: 0 1rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: black;
    box-shadow: 0 4px 12px rgba(23, 23, 23, 0.2);
    font-family: 'Inter', sans-serif;
}

.header-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    align-self: flex-start;
    
}

.header-subtitle {
    font-size: 1.25rem;
    opacity: 0.8;
    margin-bottom: 0.5rem;
}

.header-main-title {
    line-height: 1.2;
    margin: 0 0 1rem;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-size: 2.9rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.header-description p {
    max-width: 900px;
    font-size: 20px;
    line-height: 1.7;
    margin: 0 0 1rem;
    color: #c9c9c9;
    margin-bottom: 1.25rem;
}

.name-box {
    position: flex-start;
    top: 22px;
    right: 20px;
    color: #c9c9c9;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-bottom: 30px;

}

@media (max-width: 768px) {
    .header-main-title {
        font-size: 2rem;
}  
    .header-description {
    font-size: 13px;
    max-width: 100%;
    }
    .header {
        padding: 20px 10px;
        margin: 1.5rem auto;
    }
}


.header-description h6 {
    font-size: 1.25rem;
    margin: 0 0 1rem;
    color: #c9c9c9;
    font-weight: 500;
}