.header {
    max-width: 960px;
    margin: 2rem auto 1rem;
    color: #c89f65;
    padding: 30px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: black;
    box-shadow: 0 4px 12px rgba(23, 23, 23, 0.2);
}

.header-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    align-self: flex-start;
    
}

.header-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    opacity: 0.9;
}

.header-main-title {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Inter', -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-description {
    max-width: 900px;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 1rem;
}

.name-box {
    position: absolute;
    top: 22px;
    right: 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .header-main-title {
        font-size: 2rem;
}  
    .header-description {
    font-size: 13px;
    max-width: 100%;
    }
    .header {
        padding: 20px 10px;
        margin: 1.5rem auto;
    }
}