/* Base Styles */
body {
  margin: 0;
  background-color: black;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}

.heatmap-title, 
.scatterplot-title,
.line-chart-wrapper h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e9b46a; /* Gold/orange color */
  margin-bottom: 1rem;
  text-align: left;
}

/* Layout Containers */
.container-wide {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  max-width: 960px;
  margin: 0 auto 2rem;
  padding: 1.5rem;
}

.dashboard {
  max-width: 1200px;
  background: rgb(0, 0, 0);
  padding: 2rem;
  margin: 0 auto 3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Typography */
h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: #e9b46a;

}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1.25rem;
  color: #e9b46a;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 strong {
  color: #e9b46a;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.chart-caption h4 {
  color: #c89f65;
  margin-top: 1rem;
}

/* Utility Classes */
.section-divider {
  border: none;
  border-top: 2px solid #c89f65;
  max-width: 950px;
  margin: 3rem auto;
}

.container-wide + hr.section-divider {
  max-width: 1200px;
}

/* Chart Containers */
.charts-container, 
.three-charts-container, 
.maps-container,
.heatmaps-container, 
.line-charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
}

.chart-wrapper {
  background-color: #1F2937;      
  padding: 24px;
  margin: 40px auto;             
  max-width: 800px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

/* Axis Styling */
.axis-label {
  font-size: 0.875rem;
  font-weight: 600;
  fill: white;
}

.axis text {
  font-size: 0.75rem;
  font-weight: 500;
  fill: white;
}

.axis path,
.axis line {
  stroke: white;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }
  
  h2 {
      font-size: 1.5rem;
  }
  
  h3 {
      font-size: 1.25rem;
  }
  
  .container {
      padding: 1rem;
  }
  
  .chart-wrapper {
      padding: 16px;
      margin: 20px auto;
  }
}

.chart-heading {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: -1.5rem;
}